html {
  font: 24px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.sun {
  background-image: url("../assets/sun.jpg");
}

.cloud {
  background-image: url("../assets/cloud.jpg");
}

.rain {
  background-image: url("../assets/rain.jpg");
}

.snow {
  background-image: url("../assets/snow.jpg");
}

header {
  background-color: #258a68;
  border: 3px double #fff;
  color: #fff;
  padding: .5rem;
  margin: 1rem;
}

select {
  border: 1.5px solid #000;
  border-radius: 5px;
  font: .75rem sans-serif;
  height: 2rem;
  width: 5rem;
}

#temp-info,
#city-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#temp-info>* {
  margin: .5rem;
}

#temp {
  background-color: #fff;
  border: 1.5px solid #000;
  border-radius: 5px;
  font-size: 3rem;
  padding: .5rem;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.gold {
  color: gold;
}

.green {
  color: green;
}

.lightblue {
  color: lightblue;
}

#temp-buttons {
  display: flex;
  flex-direction: column;
}

#get-temp {
  height: 3.5rem;
  width: 8rem;
  padding: .5rem;
}

button {
  background-color: #258a68;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 3px 3px 3px #333;
  color: #fff;
  cursor: pointer;
  font: 1rem 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
  font-weight: bold;
  margin: .25rem;
  padding: .25rem;
}

button:hover {
  background-color: #fff;
  border: 1px solid #258a68;
  color: #258a68;
}

input {
  border-radius: 5px;
  font-size: 1rem;
  height: 1rem;
  padding: .5rem;
}

img {
  background-color: #fff;
  border: 1.5px solid #000;
  box-shadow: 3px 3px 5px #333;
  height: auto;
  margin: .5rem;
  max-width: 100%;
  padding: .5rem;
}

.warm {
  content: url(../assets/warm.jpg)
}

.hot {
  content: url(../assets/hot.jpg)
}

.cool {
  content: url(../assets/cool.jpg)
}

.cold {
  content: url(../assets/cold.jpg)
}
